<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        th,td{
            border: 1px black solid;
        }
    </style>
</head>
<body>
    <h1>Customer Page</h1>
    {% if cst %}
    <h1>Show Data</h1>
    <h3>{{cst}}</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>cstID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Bill</th>
        </tr>
        {% for ct in cst %}
        k
    </table>
    {% else %}
    <h1>No Data</h1>
    {% endif %}
</body>
</html>