<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    {% block course %}
    <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
    {% endblock course %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cor/learndj">Django Course</a></li>
            <li><a href="/primary"><i class="fa-brands fa-apple"></i></a></li>
        </ul>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-solid fa-house"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-apple"></i>
    </nav>
    <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>  

    {% block content %}{% endblock content %}
    <script src="{% static 'core/js/jquery.js' %}"></script>
    <script src="{% static 'core/js/proper.js' %}"></script>
    <script src="{% static 'core/js/all.min.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.js' %}"></script>

</body>
</html>