<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Old Records</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<table class="tabel tabel-scriped tabe-bordered tabel-sm" border="2">
    <thead class="thread-dark">
        <tr>
            <th>Current name</th>
            <th>Old name</th>
           
        </tr>

    </thead>
    <tbody>
{% for name in x %}
        <tr>
            <td>{{ name.emp }}</td>
            <td>{{ name.old_name }}</td>
           
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>

</body>
</html>