<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <!-- <link rel="stylesheet" href="{% static 'core/css/core.css' %}"> -->
    {% block course %}
    <link rel="stylesheet" href="{% static 'course/css/course.css' %}">
    {% endblock course %}
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Django Course</li>
        </ul>
    </nav>
    {% block content %}{% endblock content %}
</body>
</html>















